{% extends 'index.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

    <div class="home-container">
        <div>
            <h3>Browse Topics</h3>
            <hr>
            <div>
                <a href="{% url 'home' %}">All</a>
            </div>
            {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            </div>
            {% endfor %}
        </div>


    <div>
    {{ room_count }} available
        <a href="{% url 'create-room' %}">Create room</a>
        {% for room in rooms %}
        <a href="{% url 'update-room' room.id%}">Редачить</a>
        <span>@{{room.host.username}}</span>
            <h4><a href='{%  url "room" room.id %}'>{{ room.id }}</a> -- {{room.name}}</h4>
        <hr>
        <small>{{room.topic}}</small>
        <a href="{% url 'destroy-room' room.id %}">Удалить наъ</a>
        {% endfor %}
    </div>
    </div>

{% endblock content %}